<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <script src="https://pl29012903.profitablecpmratenetwork.com/49/72/08/497208356390b546f956fdc3db47ec87.js"></script>
    <script src="https://pl29012904.profitablecpmratenetwork.com/fc/35/d8/fc35d8b0232479052d215e33a9f42054.js"></script>

    <link
      rel="shortcut icon"
      href="https://static.vecteezy.com/system/resources/previews/015/425/993/non_2x/unique-letter-or-word-tb-sans-serif-cut-and-merge-connect-font-on-top-down-image-graphic-icon-logo-design-abstract-concept-stock-can-be-used-as-symbol-related-to-initial-or-sport-tech-vector.jpg"
      type="image/x-icon"
    />
    <!-- Google Adsense meta script to connect -->
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6153573963834456"
      crossorigin="anonymous"
    ></script>
    <!-- Google Adsense meta script to connect -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-MZ6F6Z0F88"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-MZ6F6Z0F88");
    </script>

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
   <!-- Toastify CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

<!-- Toastify JS -->
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <% if (cssPath) { %>
    <link rel="stylesheet" href="<%= cssPath %>" />
    <% } %>
  </head>
  <body></body>
</html>
