<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcom ALi Raza ❣😎</title>
    <link rel="stylesheet" href="../stylesheets/adminAuth.css" />
  </head>
  <body>
    <div class="container">
      <h1>Login or Signup</h1>
    <form action="/admin/adminAuthentication" method="post">
        <input type="text" placeholder="Enter Your Name" name="adminName" autocomplete="off" required />
        <input type="email" placeholder="Enter Your Email" name="adminEmail" autocomplete="off" required />
        <input type="password" placeholder="Enter Your Password" name="adminPassword" autocomplete="off" required />
        <input id="btn" type="reset" value="Reset" />
        <input id="submit" type="submit" value="Login" />
      </form>
    </div>
  </body>
</html>
